<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <main>
        <h1>¡Hola, <%= studentName %>!</h1>
        <p>
            Gracias por inscribirte al curso 
            de <%= courseName%> 
            en <%= organizationName%>.
        </p>


        <section class="image-gallery">
            <div class="image-column">
                <img src="images/usando-pc.PNG" alt="Descripción de la imagen">
            </div>
            <div class="image-column">
                <img src="images/keyboard.gif" alt="Descripción de la imagen">
            </div>
        </section>
    </main>
</body>
</html>